.sectionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
    width: 100%;
    height: 1100px;

}
.section1NoteWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1NoteWrapper p{
    margin: 0;
    padding: 0;
    color: var(--note-color);
    font-size: 35px;
    font-family: 'Tai Heritage Pro', serif;

}
.section1TitleWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
