.sectionWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 850px;
    background-color: var(--strong-orange);
    margin-bottom: 60px;
}
.shapesWrapper{
    position: absolute;
    z-index: 0;
    top: center;
    left: 7%;
    top:200px;
}
.qualityListWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 150px;
    height:90%;
    width: 550px;
    border-radius: 10px;
    z-index: 1;
}
.qualityListElement{
    display: flex;
    padding-top: 3rem;
    height: 25%;
    width: 80%;
    border-bottom: solid 2px var(--light-grey);
}
.qualityListElementIconFrame{
    display: flex;
    justify-content: center;
    width:20%;

}
.qualityListElementIconShaper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--light-grey);
    color: var(--strong-orange);
}
.qualityListElementText{
    width:80%;
    padding: 0.5rem;
}
.qualityListElementText p{
    color: var(--text-light);
}
.imageWrapper{
    position: relative;
    width: 40%;
    height: 90%;
    margin-top: 200px;
}
@media screen and (max-width: 1160px) and (min-width: 700px){
    .imageWrapper{
        display: none;
    }
    .shapesWrapper{
        position: absolute;
        z-index: 0;
        top: center;
        left: 300px;
        top:200px;
    }
}
@media screen and (max-width: 700px){
    .imageWrapper{
        display: none;
    }
    .shapesWrapper{
        position: absolute;
        z-index: 0;
        top: center;
        left: 300px;
        top:200px;
    }
    .qualityListWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-top: 100px;
        height:90%;
        width: 320px;
        border-radius: 10px;
        z-index: 1;
    }
    .qualityListElement{
        display: flex;
        padding-top: 1rem;
    }
}