.sectionWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 920px;
}
.sectionGrid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 22% 11% 7% 20% 7% 11% 22%;
    grid-template-rows: 80px 140px 60px 160px 30px 150px 60px 80px 80px;

}
.background{
    background-color: var(--lightest-blue);
    grid-column: 1/8;
    grid-row:3/8 ;
}
.logoFigma{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    grid-column: 6;
    grid-row: 6;
    padding: 2.5rem;
}

.logoSketch{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    grid-column: 2;
    grid-row: 4;
    padding: 2rem;

}
.logoInvision{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    grid-column: 2;
    grid-row: 6;
    padding: 3rem;
}
.logoMistery{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: white;
    grid-column: 6;
    grid-row: 4;
    padding: 2rem;
}
.TTWrapper{
    grid-column: 4;
    grid-row: 2/9;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    border-radius:25px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}
.TTTopWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    padding: 2rem 2rem 0 2rem;
}

.TTTextWrapper{
    width: 100%;   
}
.TTTextWrapper p{
    margin: 0;
    padding: 0;
    color: var(--note-color);
    font-size: 19px;
    font-family: 'Tai Heritage Pro', serif;
}
.TTTextWrapper  h2{
    margin: 0;
    font-size: 35px;
    max-width: 80%;
}
.TTSeparatorWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.TTButtonWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 35px;
}
.TTImageHolder{
    z-index: 0;
    height: 60%;
    background-image: url('../../public/pencilLady3.png');
    background-size: cover;
    background-position: 90%;
}
@media screen and (max-width: 1280px) and (min-width: 900px){
    .sectionGrid{
        grid-template-columns: 320px 160px 120px 300px 120px 160px 320px;
        grid-template-rows: 80px 140px 60px 160px 30px 150px 60px 80px 80px;

    }
}
@media screen and (max-width: 900px){
    .sectionGrid{
        grid-template-columns: 500px 10px 120px 60px 120px 10px 500px;
        grid-template-rows: 70px 660px 20px 120px 20px 120px 20px;
    }
    .sectionWrapper{
        margin: 70px 0 70px 0;
    }
    .background{
        grid-column: 1/8;
        grid-row: 2/8 ;
    }
    .TTWrapper{
        grid-column: 3/6;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        border-radius:25px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    }
    .logoFigma{
        grid-column: 5;
        grid-row: 6;
    }
    .logoSketch{  
        grid-column: 3;
        grid-row: 4;    
    }
    .logoInvision{
        grid-column: 3;
        grid-row: 6;
    }
    .logoMistery{
        grid-column: 5;
        grid-row: 4;
    }
}