.sectionWrapper{
    margin-top: 60px;
    display: flex;
    width:100%;
    height:fit-content;
}
.imagePortfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}
.firstRow{
    display: flex;
    margin-left: 160px;
    justify-content: space-evenly;
    align-items: baseline;
}
.secondRow{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.image1{
    background-image: url("../../public/mainImage.png");
    background-position: 21% 25%;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);

}
.image2{
    background-image: url("../../public/smillingMan.jpg");
    background-size: cover;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);

}
.image3{
    background-image: url("../../public/mainImage.png");
    background-position: 47%;
    margin-top: -65px;
    margin-left: 50px;
    width: 230px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);
    z-index: -1;

}
.image4{
    background-image: url("../../public/smillingWoman.jpg");
    background-position: 40% 30%;
    background-size: cover;
    width: 170px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);
    margin-top: 150px;
}
.image5{
    background-image: url("../../public/mainImage.png");
    background-position: 82% 40%;
    width: 150px;
    height: 230px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);
}
.sectionDescriptionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 100%;
    padding-left: 35px;

}
.sectionDescriptionWrapper h2{
    max-width: 50%;
    margin: 0 0 15px 0;
}
.sectionDescriptionWrapper p{
    max-width: 50%;
    width:75%;
    color: rgba(40, 40, 40, 0.6);
    letter-spacing: 0.09rem;
    line-height: 1.9rem;
}
.buttonWrapper{
    margin-top: 30px;
}
@media screen and (max-width: 1280px) and (min-width: 750px){
    .sectionWrapper{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        width:100%;
        height:fit-content;
        align-items: center;
    }
    .sectionDescriptionWrapper{
        width: 100%;
        align-items: center;
        margin: 30px 0 60px 0;
        padding-left: 0;
        order: 1;
    }
    .sectionDescriptionWrapper h2{
        max-width: auto;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .imagePortfolio{
        align-items: center;
        width: 100%;
        order: 2;
    }
    .firstRow{
        margin-left: 0;
        justify-content: space-evenly;
        align-items: baseline;
        width: 70%;
    }
    .secondRow{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 750px) and (min-width: 450px){
    .sectionWrapper{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width:100%;
        height:fit-content;
        align-items: center;
    }
    .sectionDescriptionWrapper{
        width: 450px;
        align-items: center;
        margin: 30px 0 60px 0;
        padding-left: 0;
        order: 1;
    }
    .sectionDescriptionWrapper h2{
        max-width: auto;
        font-size: 35px;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .sectionDescriptionWrapper p{
        text-align: center;
    }
    .imagePortfolio{
        align-items: center;
        width: 600px;
        height: 100%;
        order: 2;
    }
    .firstRow{
        min-width: 320px;
        justify-content: space-between;
        margin-left: 0;
    }
    .secondRow{
        min-width: 320px;
 
        display: flex;
        justify-content: space-between;
    }
    .image1{
        width: 155px;
        height: 280px;
    }
    .image2{
        width: 165px;
        height: 235px;
    }
    .image3{
        width: 115px;
        height: 150px;
        margin-left: 0;
    }
    .image4{
        width: 115px;
        height: 140px;
        margin-top: 70px;
    }
    .image5{
        width: 105px;
        height: 145px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .sectionWrapper{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width:100%;
        height:fit-content;
        align-items: center;
    }
    .sectionDescriptionWrapper{
        width: 450px;
        align-items: center;
        margin: 30px 0 60px 0;
        padding-left: 0;
        order: 1;
    }
    .sectionDescriptionWrapper h2{
        max-width: auto;
        font-size: 35px;
        margin: 0 0 15px 0;
        text-align: center;
    }
    .sectionDescriptionWrapper p{
        text-align: center;
    }
    .imagePortfolio{
        align-items: center;
        width: 600px;
        height: 100%;
        order: 2;
    }
    .firstRow{
        width: 320px;
        justify-content: space-evenly;
        margin-left: 0;
    }
    .secondRow{
        width: 320px;
        display: flex;
        justify-content: space-evenly;
    }
    .image1{
        width: 115px;
        height: 240px;
    }
    .image2{
        width: 125px;
        height: 195px;
    }
    .image3{
        width: 75px;
        height: 110px;
        margin-left: 0;
        margin-top: 30px;
    }
    .image4{
        width: 75px;
        height: 100px;
        margin-top: 70px;
    }
    .image5{
        width: 65px;
        height: 105px;
        margin-top: 30px;
    }
}